* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: #f6f6f6;
  --highlight-color: rgb(255, 0, 0);
}

.light-theme {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #2b2b2b;
  --highlight-color: rgb(255, 255, 0);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--secondary-color);
}

a,
h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-color);
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  color: var(--primary-color);
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 5vw;
  font-weight: 600;
  color: var(--primary-color);
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
  color: var(--primary-color);
}

/*Header section*/
.main-head {
  width: 100%;
  min-height: 4rem;
  position: absolute;
  top: 0;
}

nav {
  padding: 2rem 6.3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-height: 10vh;
}

nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  width: 3rem;
  height: 3rem;
}

nav .logo img {
  width: 3rem;
}

.icon-colors {
  -webkit-filter: invert(1);
          filter: invert(1);
}

nav h5 {
  padding: 0;
  margin-left: 2rem;
  color: var(--primary-color);
}

/*Hero section left*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.hero .left {
  width: 30vw;
  min-height: 100%;
  margin-left: 6.3rem;
}

.left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 85vh;
  align-items: flex-start;
}

.hero .left .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
}

.hero .left .main-nav .page-container {
  width: auto;
  height: auto;
  padding: 1.1rem;
  position: relative;
  cursor: pointer;
}

.hero .left .main-nav .page-container .circle {
  position: absolute;
  top: 1.1rem;
  left: 0;
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--highlight-color);
  border-radius: 100vh;
  z-index: -1;
  padding: 1rem;
}

.hero .left .main-nav .page-container .current-circle {
  position: absolute;
  top: 1.1rem;
  left: 0;
  width: 16rem;
  height: 5rem;
  border: 1px solid var(--highlight-color);
  border-radius: 2.5rem;
  z-index: -1;
  padding: 0.5rem;
}

.hero .left .main-nav .page-container:hover .circle {
  width: 16rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.hero .left .main-nav .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 5rem;
}

.hero .left .main-nav h5 {
  color: var(--primary-color);
  padding-left: 3rem;
}

.hero .left .main-nav img {
  width: 2rem;
  margin-left: 0.5rem;
}

.hero .left .main-text {
  width: 24vw;
  height: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .left h1 {
  color: var(--primary-color);
}

.hero .left h3 {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.hero .left h3 .typed-text {
  color: var(--highlight-color);
}

.hero .left .follow-at {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .left .follow-at h5 {
  color: var(--primary-color);
  padding-right: 1rem;
}

.hero .follow-at .social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .follow-at .social-media-icons img {
  width: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}

/*Hero section Right*/
.hero .right {
  width: 60vw;
  min-height: 100%;
  margin-right: 6.3rem;
}

.hero .right .lines {
  position: absolute;
  height: auto;
  width: 100%;
  left: 0;
}

.hero .right .line1 {
  border-bottom: 1px solid var(--primary-color);
  height: 2px;
  width: 100%;
  margin-bottom: 2rem;
}

.hero .right .boxes {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero .right .box {
  width: 2rem;
  height: 2rem;
  background: var(--primary-color);
}

/*Work Page*/
.hero .main-text .work-style {
  color: var(--highlight-color);
}

.gallery-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sec-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 2.2rem;
}

.sec-nav button {
  margin-right: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.sec-nav button .underline1 {
  width: 0;
  height: 2px;
  display: block;
  border-bottom: 2px solid var(--primary-color);
  position: absolute;
  bottom: -1.1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sec-nav button .underline2 {
  width: 0;
  height: 2px;
  display: block;
  border-bottom: 2px solid var(--primary-color);
  position: absolute;
  bottom: -1.1rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  transform-box: fill-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  width: 100%;
  height: 77vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.gallery1 {
  width: 100%;
  height: 80vh;
  overflow: auto;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: none;
}

.gallery2 {
  width: 100%;
  height: 80vh;
  overflow: auto;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: none;
}

.cards1 {
  min-height: 40rem;
  background: white;
  -webkit-box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5);
}

.cards2 {
  min-height: 40rem;
  background: #ff9f9f;
  -webkit-box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5), 0 5px 15px rgba(128, 128, 128, 0.5);
          box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5), 0 5px 15px rgba(128, 128, 128, 0.5);
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: #dddddd;
  position: absolute;
  left: 10px;
}

@media (min-width: 1500px) {
  .gallery1,
  .gallery2 {
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
  .cards1,
  .cards2 {
    min-height: 40rem;
  }
}

/*Fun page*/
.tools-used {
  width: 100%;
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tools-used img {
  width: 5rem;
  padding: 1em;
}

/*Theme Toggle*/
.theme-toggle {
  display: block;
  position: relative;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: black;
  border-radius: 100vh;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  position: relative;
  height: 1rem;
  width: 2rem;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  height: 0.6rem;
  width: 0.6rem;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  z-index: 99;
}

.label .sun {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  height: 0.6rem;
  width: 0.6rem;
  pointer-events: none;
}

.moon {
  position: absolute;
  top: 0.2rem;
  left: 1.2rem;
  height: 0.6rem;
  width: 0.6rem;
  pointer-events: none;
}

.label-dark {
  background: #fff;
}

.label .ball-dark {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  background: #111;
}
/*# sourceMappingURL=style.css.map */