* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: #f6f6f6;
  --highlight-color: rgb(255, 0, 0);
  --highlight-color-alpha: rgba(255, 0, 0, 0.8);
}

.light-theme {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #2b2b2b;
  --highlight-color: rgb(255, 255, 0);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--secondary-color);
}

p, h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-color);
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  color: var(--primary-color);
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 5vw;
  font-weight: 600;
  color: var(--primary-color);
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
  color: var(--primary-color);
}

/*Header section*/
.main-head {
  top: 0;
}

nav {
  min-height: 10vh;
  padding: 2rem 0;
  margin-left: 6.3rem;
  margin-right: 6.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

nav .logo {
  width: 3rem;
  height: 3rem;
}

nav .logo img {
  width: 3rem;
}

.icon-colors {
  -webkit-filter: invert(1);
          filter: invert(1);
}

nav h5 {
  padding: 0;
  margin-left: 2rem;
  color: var(--primary-color);
}

.main-head .menu {
  display: none;
}

.menu-background {
  display: none;
}

/*********************************************/
/*Theme Toggle*/
.theme-toggle {
  position: relative;
  width: 40px;
  height: 20px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: black;
  border-radius: 100vh;
  cursor: pointer;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 2rem;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  height: 0.6rem;
  width: 0.6rem;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  z-index: 99;
}

.label .sun {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  height: 0.6rem;
  width: 0.6rem;
  pointer-events: none;
}

.moon {
  position: absolute;
  top: 0.2rem;
  left: 1.2rem;
  height: 0.6rem;
  width: 0.6rem;
  pointer-events: none;
}

.label-dark {
  background: #fff;
}

.label .ball-dark {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  background: #111;
}

/*********************************************/
/*********************************************/
/*Hero section left*/
.hero {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .left {
  margin-left: 6.3rem;
  width: 40%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 0 5rem 0;
}

.hero .left .main-text {
  width: 24vw;
  height: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .main-text .work-style {
  color: var(--highlight-color);
}

.hero .left h1 {
  color: var(--primary-color);
}

.hero .left h3 {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.typed-text {
  color: var(--highlight-color);
}

.hero .left .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
}

.hero .left .main-nav .page-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.hero .left .main-nav {
  width: 16rem;
  height: auto;
  cursor: pointer;
}

.hero .left .main-nav .circle {
  position: absolute;
  top: 0;
  left: 0.4rem;
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--highlight-color);
  border-radius: 100vh;
  z-index: -1;
}

.hero .left .main-nav .current-circle {
  position: absolute;
  top: 0rem;
  left: 0.4rem;
  width: 16rem;
  height: 4rem;
  border: 1px solid var(--highlight-color);
  border-radius: 2.5rem;
  z-index: -1;
}

.main-nav .page-container {
  width: 100%;
}

.main-nav .page-container:hover .circle {
  width: 16rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.hero .left .main-nav .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 4rem;
  margin-left: 1rem;
}

.hero .left .main-nav h5 {
  color: var(--primary-color);
  padding-left: 3rem;
}

.hero .left .main-nav img {
  width: 2rem;
  margin-left: 0.5rem;
}

.hero .left .follow-at {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .left .follow-at h5 {
  color: var(--primary-color);
  padding-right: 1rem;
}

.hero .follow-at .social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .follow-at .social-media-icons img {
  width: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}

/***********************************************/
/*Hero section Right*/
.right {
  width: 60%;
  height: 90vh;
  margin-right: 6.3rem;
  padding: 0rem 0 5rem 0;
  overflow: hidden;
}

.gallery-space {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2rem 1rem auto;
      grid-template-rows: 2rem 1rem auto;
}

.sec-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sec-nav button {
  margin-right: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.sec-nav button .underline1, .underline2, .underline3, .underline4 {
  width: 0;
  height: 4px;
  display: block;
  border-bottom: 4px solid var(--primary-color);
  position: absolute;
  bottom: -1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero .right .line1 {
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
}

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 1rem;
}

.gallery1, .gallery2, .gallery3, .gallery4 {
  width: 100%;
  overflow: auto;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: none;
}

.hero .right .boxes {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero .right .box {
  width: 2rem;
  height: 2rem;
  border-radius: 0.1rem;
  background: var(--primary-color);
}

.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.gallery video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards1 {
  min-height: 40rem;
  background: white;
  -webkit-box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.2rem;
  overflow: hidden;
}

.cards {
  min-height: 30rem;
  background: white;
  -webkit-box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.2rem;
  overflow: hidden;
}

.cards2 {
  min-height: 40rem;
  background: white;
  -webkit-box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.2rem;
  overflow: hidden;
}

.cards1 .project-info {
  background-color: var(--highlight-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}

.cards1 .project-info .project-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2rem;
          flex: 1 1 2rem;
  font-size: 1.7rem;
}

.cards1 .project-info .description {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 2rem;
          flex: 5 1 2rem;
  color: var(--secondary-color);
  font-weight: 100;
  display: none;
}

.cards1 .project-info .tags {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2rem;
          flex: 1 1 2rem;
  font-weight: 100;
}

.cards1 .project-info .info-bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1rem;
          flex: 1 1 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards2 .project-info {
  background-color: var(--highlight-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}

.cards2 .project-info .project-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2rem;
          flex: 1 1 2rem;
  font-size: 1.7rem;
}

.cards2 .project-info .description {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 2rem;
          flex: 5 1 2rem;
  color: var(--secondary-color);
  font-weight: 100;
  display: none;
}

.cards2 .project-info .tags {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2rem;
          flex: 1 1 2rem;
  font-weight: 100;
}

.cards2 .project-info .info-bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1rem;
          flex: 1 1 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-bottom::before {
  content: '';
  width: 100%;
  height: 0.2rem;
  border-bottom: 1px solid var(--secondary-color);
  position: absolute;
  top: -1rem;
}

.cards1:hover .project-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: none;
}

.cards1:hover .description {
  display: block;
}

.cards2:hover .project-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: none;
}

.cards2:hover .description {
  display: block;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: #a5a5a5;
  position: absolute;
  left: 10px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  overflow: auto;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.popupitems {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

.popup .popupitems img {
  width: 100%;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.popup .popupitems .project_main {
  display: none;
}

.test {
  display: none;
}

.close {
  border-radius: 100vh;
  position: absolute;
  right: 0;
  width: 2rem;
  top: 0;
  margin: 2.5rem;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: #0e0e0e;
  cursor: pointer;
}

.aboutme-space {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  display: none;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  overflow-y: auto;
  margin-top: 1rem;
}

.introduction {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.introduction h3, .introduction p {
  margin: 1rem 1rem 1rem 0;
}

.academics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  margin-top: 4rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  margin-top: 4rem;
}

.head {
  margin: 1rem 1rem 1rem 0;
}

.school {
  width: 100%;
  border-radius: 0.5rem;
  background: white;
  padding: 2rem;
  margin-top: 1rem;
}

.offices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
  background: white;
  padding: 2rem;
  margin-top: 1rem;
}

.officelogo {
  width: 20%;
  margin-right: 5rem;
}

.officelogo img {
  width: 100%;
}

.officename {
  width: 80%;
}

.profile-pic {
  width: 100%;
  padding-right: 1rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: 4rem;
  padding-right: 1rem;
}

.softwares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.softwares img {
  width: 3rem;
  margin-right: 2rem;
}

.skillscard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 4vw;
  }
  h4 {
    font-size: 3vw;
  }
  h5, p {
    font-size: 1.2rem;
  }
  .main-head {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: white;
  }
  .main-head .logo {
    display: none;
  }
  .theme-toggle {
    display: none;
  }
  nav {
    margin-left: 3.7rem;
    margin-right: 3.7rem;
  }
  nav h5 {
    margin: 0;
    width: 10rem;
    font-weight: 900;
  }
  .main-head .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 4rem;
    height: 4rem;
    text-align: right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .main-head .menu img {
    width: 2rem;
  }
  .menu-background.inactive {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 0.4s cubic-bezier(0, 0.56, 0.47, 0.98);
    transition: all 0.4s cubic-bezier(0, 0.56, 0.47, 0.98);
  }
  .menu-background {
    background: white;
    -webkit-box-shadow: 0 2px 5px rgba(105, 105, 105, 0.3);
            box-shadow: 0 2px 5px rgba(105, 105, 105, 0.3);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.4s cubic-bezier(1, 0, 1, 0.57);
    transition: all 0.4s cubic-bezier(1, 0, 1, 0.57);
  }
  .menu-background .cross {
    width: 100vw;
    height: 3.3rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 2rem;
            flex: 1 1 2rem;
    margin: 1rem;
    text-align: end;
    cursor: pointer;
  }
  .menu-background .cross img {
    margin: 2rem;
  }
  .menu-background ul {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 2rem;
            flex: 2 1 2rem;
    text-align: center;
    list-style: none;
  }
  .menu-background ul a {
    display: block;
    text-decoration: none;
    font-size: 2.5rem;
    margin: 2rem;
    font-family: "Poppins", sans-serif;
    color: #000000;
  }
  .menu-background .follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 2rem;
            flex: 1 1 2rem;
  }
  .menu-background .follow img {
    margin: 1rem;
  }
  .hero {
    position: relative;
    top: 13vh;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .left {
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
    padding-left: 3.7rem;
    padding-right: 3.7rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  .hero .right {
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3.7rem;
    padding-right: 3.7rem;
  }
  .hero .right .boxes {
    display: none;
  }
  .hero .left .main-text {
    width: 100%;
    position: relative;
    height: auto;
    left: 0;
    top: 0;
  }
  .hero .left .main-text h3 {
    margin: 0;
  }
  .hero .left .main-nav {
    display: none;
  }
  .hero .left .follow-at {
    display: none;
  }
  .sec-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sec-nav h5 {
    font-size: 1.2rem;
  }
  .sec-nav button {
    margin-right: 2rem;
  }
  .cards1 {
    min-height: 35rem;
  }
  .cards1 .project-info {
    height: 100%;
    pointer-events: none;
  }
  .cards2 {
    min-height: 35rem;
  }
  .cards2 .project-info {
    height: 100%;
    pointer-events: none;
  }
  .gallery1 {
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    overflow: inherit;
  }
  .gallery2 {
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    overflow: inherit;
  }
  .introduction {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .profile-pic {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .academics {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .work {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .skills {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

@media (min-width: 1700px) {
  .gallery1, .gallery2, .gallery3, .gallery4 {
    -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    overflow: auto;
  }
}
/*# sourceMappingURL=style.css.map */